.all-cont {
  margin-top: 30px;
}

img.card-img-top.img-size {
  height: 16rem;
  text-align: center;
  padding: 10px 10px;
}

.card.card-inner {
  margin: 0 20px 20px 0;
  width: 16rem;
}

img.view-img {
  height: 20rem;
  width: 100%;
}

.home-center {
  text-align: center;
}

.notFound-inner {
  text-align: center;
}

img.view-imgs {
  width: 40%;
}

img.home-cart {
  width: 40rem;
  border: 2px solid #000;
  border-radius: 18px;
}
